.site-footer{
  background-image: radial-gradient(circle , #1c140a , #0a0a0a);
  color:#ddd;
  padding:60px 40px 20px;
}

.footer-container{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}
.footer-col .logo{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right,#ff5f00,#fa5500);
    border-radius: 13px;
    text-align: center;
    box-shadow: 0 0 5px #ff5f00;
}
.footer-col .logo span{
    font-size: 22px;
    font-weight: bold;
}
.footer-col h6{
  color:#fff;
  font-weight: bold;
  margin-bottom:15px;
  position:relative;
  right: 30px;
}

.footer-col h6::after{
  content:"";
  width:35px;
  height:2px;
  background-image: linear-gradient(to right,#ff7400,#f2ae00);
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right:-40px;
}

.footer-col p{
  line-height:2;
  font-size:14px;
}

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col ul li{
  margin:8px 0;
}

.footer-col ul a{
  text-decoration:none;
  font-size: 14px;
  color: gray;
  line-height: 2;
  transition:.3s;
}

.footer-col ul a:hover{
  color:#ff8a5b;
}

.social a{
  text-decoration: none;
  display:inline-block;
  background-color:#1b1a1a;
  color: rgb(172, 172, 172);
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  border: 0.5px solid rgb(95, 95, 95);
  border-radius:12px;
  margin-left:8px;
}
.social a:hover{
    color: white;
    background-color: #ff6000;
    transform: scale(1.2);
    border: none;
    transition: transform 0.3s ease;
}

.subscribe{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.subscribe input{
  padding:10px;
  background:#1c1c1c;
  border:none;
  border-radius:6px;
  color:#fff;
}

.subscribe button{
  background:#f06310;
  border:none;
  padding:13px;
  font-weight: bold;
  border-radius:6px;
  color:#fff;
  cursor:pointer;
}

.copyright{
  border-top:1px solid #222;
  margin-top:40px;
  padding-top:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:13px;
  color:#aaa;
}

.footer-links a{
  color:#aaa;
  text-decoration:none;
  margin-right:15px;
  transition:.3s;
}

.footer-links a:hover{
  color:#e83909;
}

@media(max-width:900px){
  .footer-container{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:500px){
  .footer-container{
    grid-template-columns:1fr;
  }
  .copyright{
    flex-direction:column;
    gap:10px;
  }
}