.custom-navbar {
  background-color: #161616;
  padding: 10px 0;
  direction: rtl;
}

.navbar-brand {
  gap: 5px;
  align-items: flex-start;
  color: #fff;
  text-decoration: none;
}

.navbar-brand .brand-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar-brand .brand-subtitle {
  font-size: 0.8rem;
  color: #c46b09;
}

.logo {
  width: 50px;
}

.nav-link {
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: white;
}
.nav-link.active {
  background-image: linear-gradient(to right, #ff6700, #f64c00);
  color: #fff;
  border-radius: 30px;
}

.search-icon {
  color: gray;
  font-size: 1rem;
  cursor: pointer;
}

.search-icon:hover {
  color: #f97316;
}

.nav-pill {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 10px 8px;
  border: 0.5px solid rgb(56, 55, 55);
  border-radius: 40px;
}
.gr-bg {
  background-image: linear-gradient(90deg, #f56d14, #c3420c);
  padding: 12px 32px;
}
