.hero {
  position: relative;
  padding-top: 150px;
  overflow: hidden; 
  background: linear-gradient(-135deg, #0A0A0A 0%, #211209 50%, #0A0A0A 100%);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-image:
    linear-gradient(rgba(38,38,38,0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38,38,38,0.5) 1px, transparent 1px);
  background-size: 60px 60px; 
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;

}
.text-o{
    color: #f67216;
}
.circle-404 {
  width: 60px;
  height: 60px;
  background:#231309 ;
  border: 1px solid #b34a04;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.circle-404 i {
  font-size: 25px;
  color: #f97216  ;
}
.a{
    background-color: #0A0A0A;
}
.top-box {
  background-color: #211b09;
  border: 1px solid #cfb100;
  border-radius: 20px;
}
.priv-text h6{
    color: #cfb100;
}
.priv-text p{
    color: #d4b316;
}
.icon-box.s{
  color: #d4b316;
  font-size: 18px;
}
.icon-box {
  color: #ff6467;
  font-size: 15px;
}

/* رقم السكشن */
.section-number {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(135deg ,#ff6900 , #f0aa00);
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.email-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #ff6900;
  font-weight: 600;
  text-decoration: none;

}

.email-link i {
  font-size: 18px;
}

.email-link:hover {
  color: #ff6900;

}
.x{
  color: #ff6900;
}